.BottomNavigationBar {
  background-color: #f6f6f6;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255,255,255,0.7);
  bottom: 0;
  border-top: 1px solid #d4d4d4;
  left: 0;
  padding: 8px 12px 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.BottomNavigationBar__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.BottomNavigationBar__item {
  text-align: center;
  padding: 0 0 8px;
  position: relative;
  width: 33.3%;
}

.BottomNavigationBar__link {
  color: #979797;
  text-decoration: none;
}

.BottomNavigationBar__link--active, .BottomNavigationBar__link--active i {
  color: #0055ff;
}

.BottomNavigationBar__link:hover {
  text-decoration: none;
}

.BottomNavigationBar__icon {
  padding-bottom: 5px;
  vertical-align: middle;
}

.BottomNavigationBar__title {
  display: block;
}

.BottomNavigationBar__link .BottomNavigationBar__title {
  font-size: 0.85rem;
}

.align-content-html {
  margin-bottom: 140px;
}

.navbar__standar--dir a {
  font-weight: 400 !important;
}

.Navbar__Search--list .dropdown.principal-list {
  margin-top: 8px;
  margin-bottom: 8px;
}

.onboarding-container {
  margin-bottom: 40px;
}

.inner .control-user {
  flex: 1 1 10%;
  padding-right: 8px;
}

.control-link {
  width: 100%;
  flex: 1 1 80%;
}

.list-hiper i {
  font-size: 1rem;
  padding-right: 8px;
}

.erase-list {
  background-color: transparent;
  padding: 1rem;
  border-top: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
}

.navbar__standar--dir button i {
  margin: 0 8px;
}

.full-video video {
  width: 100%;
}

.list--profile li:last-child a {
  box-shadow: none;
}

.mp--destacado + li {
  margin-top: 76px;
}

.perfil--mis-super .form-group {
  margin: 24px 0;
}

.list--ahorra .list-group-item i {
  font-size: 1rem;
}

.container--oferta {
  max-width: 100vw;
  overflow: hidden;
}

.container--oferta ul {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-inline-start: 2rem;
}

.container--oferta ul li {
  color: white;
  min-width: 180px;
  margin-right: 1rem;
}

.toast-show {
  margin: 0 auto;
  display: block !important;
  opacity: 1 !important;
  background-color: #2e8540 !important;
}

.toast.fade.toast-show.hide {
  position: fixed;
  top: 0;
  z-index: 10000000;
  left: 8%;
  top: 40px;
}

