@font-face {
  font-family: 'descuentio';
  src: url('../fonts/descuentio.eot?rzpiho');
  src: url('../fonts/descuentio.eot?rzpiho#iefix') format('embedded-opentype'),    url('../fonts/descuentio.ttf?rzpiho') format('truetype'),    url('../fonts/descuentio.woff?rzpiho') format('woff'),    url('../fonts/descuentio.svg?rzpiho#descuentio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

a:hover + i {
  text-decoration: none;
}

i {
  font-family: 'descuentio' !important;
  speak: none;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.des-scan:before {
  content: "\e90b";
}

.des-card:before {
  content: "\e900";
}

.des-descubrir:before {
  content: "\e901";
}

.des-exit:before {
  content: "\e902";
}

.des-heart:before {
  content: "\e903";
}

.des-info:before {
  content: "\e904";
}

.des-lista:before {
  content: "\e905";
}

.des-localizacion:before {
  content: "\e906";
}

.des-market:before {
  content: "\e907";
}

.des-pen:before {
  content: "\e908";
}

.des-perfil:before {
  content: "\e909";
}

.des-search:before {
  content: "\e919";
}

.des-trash:before {
  content: "\e91a";
}

.empty-bg {
  background-color: #f5f5f6;
}

