/*  General  */

html, body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: #47b6ff auto 5px;
}

a.icon--shorcut:hover, a.no-line, a.no-line:hover, a.d-flex.align-items-center.icon--shorcut {
  text-decoration: none !important;
}

a {
  color: #0055FF;
  font-weight: 700;
  font-size: 0.85rem;
  text-decoration: none;
}

i {
  width: 24px;
  height: 24px;
  margin: 0;
  font-size: 24px;
  color: #707070;
}

input {
  font-size: 0.85rem;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.bg-white {
  background-color: white;
}

/* iconos */

.dir-dropdown {
  width: 16px;
  margin: 5px;
  color: #0055FF;
}

.navbar--link .des-localizacion {
  font-size: 20px;
  bottom: -3px;
  font-weight: bold;
}

.des-search {
  font-size: 18px;
  line-height: 1.7;
}

.icon-des-scan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  margin: 0;
  padding: 0;
  flex: 20% 0 0;
}

/* Content-list */

.content-list.list {
  background: white;
  margin-bottom: 100px;
}

.content-list.page-search {
  margin-top: 133px;
  height: calc(100vh - 50vh);
}

.content-list.big {
  margin-top: 143px;
  width: 100%;
  background-color: #f5f5f5;
  height: calc(100vh - 70vh);
}

@media (min-width: 370px) {
  .content-list.list-first.full {
    margin-top: 157px;
    background-color: rgb(255,255,255);
    height: calc(100vh - 157px);
  }
}

.content-list.list-first {
  margin-top: 140px;
  /*background-color: rgb(255,255,255);*/
  height: calc(100vh - 140px);
}

.content-list {
  margin-top: 96px;
  width: 100%;
  height: calc(100vh - 96px);
}

.content-list .empty-state {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content-list .label-list h2 {
  font-size: 1rem;
  color: #505050;
  line-height: 2rem;
  padding: 0;
  margin: 0;
}

.content-list.bg_new_list .container {
  padding-right: 0;
  padding-left: 0;
}

.content-list.bg_new_list {
  background: white;
}

.contet-list--make {
  margin-top: 172px;
  padding-top: .5rem;
}

/* btn  */

.btn-primary {
  color: #fff;
  background-color: #0055FF;
}

.btn {
  border: 6px;
  min-height: 40px;
  min-width: 190px;
  border-radius: 6px;
  font-weight: 800;
}

.rounded {
  border-radius: 6px!important;
}

.search-module input:focus-within {
  border: 1px solid #0055ff;
  background: #ffffff;
  border-radius: 6px;
}

.search-module input:focus-within + i {
  color: #0055ff;
}

.search--result {
  color: #707070;
}

.button-center {
  margin: 0 auto;
  max-width: 190px;
  height: 40px;
  border-radius: 6px;
}

.progress-bar.bg-primary.progress-bar-animated {
  height: calc(100vh - 203px);
  -webkit-animation-name: lod;
  -webkit-animation-duration: 3s;
  animation-name: lod;
  animation-duration: 3s;
  -webkit-animation-name: lod;
  -webkit-animation-duration: 4s;
  animation-name: lod;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.loading-display-1 {
  background-image: url("../../assets/img/loadingimg.png");
  height: calc(100vh - 203px);
  background-position: 510px 0;
  background-size: cover;
  -webkit-animation-name: example;
  -webkit-animation-duration: 3s;
  animation-name: example;
  animation-duration: 3s;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.Total--Card {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 63px;
  z-index: 1000000;
  border-top: 1px solid #dadada;
}

.Total--link__button {
  width: 100%;
  margin: 1rem;
  box-sizing: border-box;
  height: 48px;
  grid-template-columns: auto auto auto;
  background: blue;
  border-radius: 10px;
  padding: 0 24px;
  color: white;
  font-size: 1rem;
}

@keyframes example {
  from {
    background-position: 510px 0;
  }
  to {
    background-position: 900px 0;
  }
}

@keyframes desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes lod {
  from {
    width: 20%;
  }
  to {
    width: 100%;
  }
}

a.navbar__jump:hover {
  text-decoration: none;
}

.navbar__sub-title {
  font-size: 0.7rem;
  min-width: 140px;
}

.ubic {
  border: none!important;
}

.ubic--spacio {
  margin-bottom: 0.5rem;
}

.ubic--button {
  position: relative;
  bottom: 0px;
  margin: 16px auto 0;
  height: 40px;
  min-width: 240px;
}

.Navbar__Search--list {
  position: fixed;
  top: 0;
  z-index: 10000;
  background: white;
}

.navbar__back:hover {
  text-decoration: none;
}

.wizard-button {
  min-height: 36px;
  min-width: 100px;
  font-size: 0.85rem;
}

.wizard-content {
  margin-left: 12px;
}

.wizard__weight {
  font-weight: bold;
}

.wizard-group {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  border-radius: 0 !important;
  border-top: none;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.wizard-content {
  margin-left: 12px;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__back i {
  text-decoration: none;
  color: #0055ff;
}

.navbar__jump {
  font-size: 1rem;
  font-weight: 400;
}

.search-module input {
  border: none;
  width: 100%;
  position: absolute;
  left: 0;
  background: none;
  padding: 0px 42px 0;
  line-height: 2;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
}

.label-list {
  position: fixed;
  width: 100vw;
  z-index: 1;
  min-width: 100vw;
  background-color: #F5F5F5;
}

.search--color {
  color: #979797;
  position: relative;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__jump {
  font-size: 1rem;
  font-weight: 400;
}

.Navbar--Large--title {
  font-size: 2.125rem;
  font-weight: bold;
}

.Navbar--Large, .Navbar__Search--list, Navbar__Search--large, .Navbar__Search--large {
  border-bottom: 1px solid #dadada;
}

.empty-state {
  max-width: 93%;
  padding-top: 110px;
}

@media (max-width: 400px) {
  .empty-state {
    background-color: transparent;
    max-width: 260px;
    margin: 0 auto;
    padding-top: 30px;
    z-index: -1;
  }
}

.empty-state h2 {
  font-size: 1.25rem;
}

.empty-state img {
  margin-bottom: 1rem !important;
}

.search-module {
  border: 1px solid #d4d4d4;
  padding: 4px 16px;
  border-radius: 4px;
  position: relative;
  margin-top: 8px;
  line-height: 2;
  box-sizing: border-box;
  border-radius: 10px;
  background: #F5F5F6;
}

.search-module input:focus ~ i.search--color {
  z-index: 1;
  color: blue;
}

/*  Navbar  */

header section:nth-of-type(3) {
  padding-bottom: 8px;
  padding-top: 0;
}

.bar-navbar {
  min-height: 48px;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*  wizard-search */

.bar-navbar.Navbar__Search--standar {
  border-bottom: 1px solid #dadada;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(255,255,255,0.95);
}

.navbar__back:hover {
  text-decoration: none;
}

.wizard-content {
  margin-left: 12px;
}

.list--mod .list__img {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 5px;
  object-fit: contain;
}

.page-search .container {
  padding-right: 0;
  padding-left: 0;
}

.list--item .list__link {
  display: flex;
  box-shadow: inset 0px -1px 0px 0px #d4d4d4;
  padding: 12px 0;
}

.list--item .list__link:hover {
  text-decoration: none;
}

.list--item .list__link, .list--item .list__link .container__list {
  color: inherit;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0 -16px 0 16px;
  width: calc( 100% - 16px);
  box-sizing: border-box;
}

.list--item {
  display: block;
  box-sizing: content-box;
  border-bottom: 1px solid rgb(33,37,41);
}

.wizard-content {
  margin-left: 12px;
}

li.list-group-item.list--item {
  margin-bottom: 0px;
  background-color: transparent;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

input {
  font-size: 0.85rem;
}

.search-module i {
  z-index: 1;
}

.search-module input {
  border: none;
  width: 100%;
  position: absolute;
  left: 0;
  background: none;
  padding: 0px 42px 0;
  line-height: 2;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
}

.search--color {
  color: #979797;
  position: relative;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__title {
  font-weight: bold;
  font-size: 1rem;
}

.Navbar__Search--standar .form-group {
  margin-bottom: 0.4rem;
}

.empty-state {
  max-width: 93%;
  padding-top: 110px;
}

@media (max-width: 400px) {
  .empty-state {
    background-color: transparent;
    max-width: 260px;
    margin: 0 auto;
    padding-top: 30px;
    z-index: -1;
  }
}

ul.wizard-list + .invisible.empty-state {
  position: fixed;
}

.empty-state h2 {
  font-size: 1.25rem;
  color: #707070;
}

.empty-state img {
  margin-bottom: 1rem !important;
}

.search-module {
  border: 1px solid #d4d4d4;
  padding: 4px 16px;
  border-radius: 4px;
  position: relative;
  margin-top: 8px;
  line-height: 2;
  box-sizing: border-box;
  border-radius: 10px;
  background: #F5F5F6;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

/*  wizard-empty  */

.navbar__back:hover {
  text-decoration: none;
}

.wizard-button {
  min-height: 36px;
  min-width: 100px;
  font-size: 0.85rem;
}

.wizard-content {
  margin-left: 12px;
}

.wizard__weight {
  font-weight: bold;
}

.wizard-group {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  border-radius: 0 !important;
  border-top: none;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.wizard-content {
  margin-left: 12px;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__jump {
  font-size: 1rem;
  font-weight: 400;
}

.search-module input {
  border: none;
  width: 100%;
  position: absolute;
  left: 0;
  background: none;
  padding: 0px 42px 0;
  line-height: 2;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
}

.label-list {
  position: fixed;
  width: 100vw;
  z-index: 1;
  min-width: 100vw;
  background-color: #F5F5F5;
}

.search--color {
  color: #979797;
  position: relative;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__jump {
  font-size: 1rem;
  font-weight: 400;
}

.Navbar--Large--title {
  font-size: 2.125rem;
  font-weight: bold;
}

.Navbar--Large, .Navbar__Search--list, Navbar__Search--large, .Navbar__Search--large {
  border-bottom: 1px solid #dadada;
}

.Navbar__Search--large.bar-navbar {
  position: fixed;
  top: 0;
  z-index: 100000;
  background-color: rgba(255,255,255,0.95);
}

.empty-state {
  max-width: 93%;
  padding-top: 110px;
}

@media (max-width: 400px) {
  .empty-state {
    background-color: transparent;
    max-width: 260px;
    margin: 0 auto;
    padding-top: 30px;
    z-index: -1;
  }
}

.empty-state h2 {
  font-size: 1.25rem;
}

.empty-state img {
  margin-bottom: 1rem !important;
}

.search-module {
  border: 1px solid #d4d4d4;
  padding: 4px 16px;
  border-radius: 4px;
  position: relative;
  margin-top: 8px;
  line-height: 2;
  box-sizing: border-box;
  border-radius: 10px;
  background: #F5F5F6;
}

/*  wizard-component-list */

.list--component li {
  padding: 0 0 0 16px;
  border: none;
}

.mp--margin {
  padding: 0 0 0 16px;
  border: none;
}

.wizard-button {
  min-height: 36px;
  min-width: 100px;
  font-size: 0.85rem;
}

.wizard-list li:last-child .item-inner, li:last-child .item-inner {
  /*border-bottom: none;*/
}

.item-inner {
  border-bottom: 1px solid #d4d4d4;
  padding: 12px 16px 12px 0px;
}

.item-media {
  padding: 8px 12px 8px 0;
}

.list__name {
  width: 100%;
  font-size: 1rem;
  max-width: 172px;
  line-height: 1.2rem;
}

.list__namer-line, .list__namer-line i {
  color: #707070;
}

.list--product {
  width: 100vw;
  max-width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-top: 8px;
  padding-bottom: 8px;
  background: white;
}

.wizard-list.list--ft {
  margin-top: 0px;
  margin-bottom: 8px;
}

.wizard-list, .List-mod, list--component {
  width: 100vw;
  max-width: 100%;
  /*border-bottom: 1px solid rgba(0,0,0,.125);*/
  margin-top: 8px;
  margin-bottom: 8px;
}

.button-next-list {
  padding: 16px;
  font-size: 0.85rem;
  display: block;
}

.button-next-list {
  padding: 16px;
  font-size: 1rem;
  color: rgba(0,0,0,0.5);
  display: block;
}

/* navbar--stepers  */

.vh-80 {
  height: 80vh;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__jump {
  font-size: 1rem;
  font-weight: 400;
}

/* oboarding */

.navbar__jump {
  font-size: 1rem;
  font-weight: 400;
}

.onboarding-img {
  margin-bottom: 30px;
}

.main-onboarding {
  height: calc(100vh - 25vh);
}

.onboarding-title {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}

.onboarding-paragraph {
  margin-bottom: 24px;
  max-width: 310px;
}

.onboarding-button {
  max-width: 190px;
  margin: 0 auto;
  width: 190px;
  height: 40px;
  margin-bottom: 16px;
}

.onboarding-footer {
  bottom: 32px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.onboarding-paginator .onboarding-item.active {
  width: 30px;
  background-color: #0055ff;
}

.onboarding-paginator .onboarding-item {
  width: 11px;
  height: 11px;
  margin: 0 4px;
  background-color: rgba(0,85,255,0.33);
  border-radius: 50px;
}

.far {
  color: #979799;
}

a.icon {
  padding: 8px;
}

.gps-localization {
  margin-bottom: 1rem;
}

.container.loading-genial {
  margin: 36px 0;
}

.loading-genial h1 {
  font-size: 4rem;
  font-weight: bold;
}

.container.loading-genial p {
  color: #0055FF;
  font-size: 1.3rem;
  padding-left: 0.3rem;
}

/* navbar--large--sub */

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.Navbar--Large--title {
  font-size: 2.125rem;
  font-weight: bold;
}

.Navbar--Large {
  border-bottom: 1px solid #dadada;
}

/*  navbar-search--list  */

.Navbar__Search--form .navbar--scan {
  flex: 20% 0 0;
}

.search-module input {
  border: none;
  width: 100%;
  position: absolute;
  left: 0;
  background: none;
  padding: 0px 42px 0;
  line-height: 2;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
}

.search-module {
  border: 1px solid #d4d4d4;
  padding: 4px 16px;
  border-radius: 4px;
  position: relative;
  margin-top: 8px;
  line-height: 2;
  box-sizing: border-box;
  border-radius: 10px;
}

.search--color {
  color: #979797;
  position: relative;
}

.navbar__standar--dir .navbar--link {
  color: black;
  font-size: 1rem;
}

.Navbar--Large--title {
  font-size: 2.125rem;
  font-weight: bold;
}

.Navbar--Large, .Navbar__Search--list {
  border-bottom: 1px solid #dadada;
}

.Navbar__Search--form .form-group {
  flex: 80% 0 0;
}

/*  navbar-search--large  */

.search-module input {
  border: none;
  width: 100%;
  position: absolute;
  left: 0;
  background: none;
  padding: 0px 42px 0;
  line-height: 2;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
}

.search-module {
  border: 1px solid #d4d4d4;
  padding: 4px 16px;
  margin-top: 0;
  border-radius: 4px;
  position: relative;
  /*margin-top: 8px;*/
  line-height: 2;
  box-sizing: border-box;
  border-radius: 10px;
}

.search--color {
  color: #979797;
  position: relative;
}

.bar-navbar.navbar__standar--dir {
  grid-template-columns: 0.5fr auto 0.5fr;
}

.navbar__back {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__standar--dir .navbar--link {
  color: black;
  font-size: 1rem;
}

.Navbar--Large--title, .principal-list button {
  font-size: 2.125rem;
  font-weight: bold;
}

@media (max-width: 340px) {
  .Navbar--Large--title, .principal-list button {
    font-size: 8vw;
    font-weight: bold;
  }
}

/*  loading  */

.loadingdiv {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.loadingdivimg {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

/*  IOS Alerts  */

.iosalert-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  z-index: 100000;
}

.iosalert-card {
  width: 270px;
  background-color: rgba(242,242,242,0.98);
  font-weight: bold;
  font-style: normal;
  min-height: 140px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.iosalert-title {
  font-size: 17px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 19px;
  margin-bottom: 2px;
  height: 22px;
}

.iosalert-paragraph {
  font-weight: normal;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(60,60,67,0.29);
  margin-bottom: 0;
  line-height: 1.3rem;
}

.iosalert .btn {
  min-width: auto;
}

.iosalert.btn-group {
  height: 44px;
  box-shadow: none;
  width: 100%;
}

.iosalert.btn-group .btn {
  box-shadow: none;
  background: none;
  border: none;
  border-radius: 0px 0px 0px 14px;
  color: #007AFF;
}

.iosalert.btn-group .btn:hover {
  box-shadow: initial;
  background: inherit;
  border: none;
  color: #007AFF;
}

.iosalert.btn-group > .btn-group:not(:first-child) > .btn, .iosalert.btn-group > .btn:not(:first-child) {
  border-left: 0.25px solid rgba(60,60,67,0.29);
  font-weight: bold;
  border-radius: 0 0 14px 0;
}

.iosalert .btn-primary {
  color: #fff;
  background-color: #0055FF;
}

.iosalert .btn {
  font-weight: 700;
}

.btn-group.iosalert:first-child {
  border-right: 1px solid rgba(60,60,67,0.29);
}

.principal-list .btn-primary:not(:disabled):not(.disabled).active, .principal-list .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: rgba(204,0,110,0);
  color: black;
  padding-left: 0 !important;
  padding-top: 0px;
}

.dropdown.principal-list button {
  background-color: transparent;
  color: black;
  padding: 0 !important;
}

.principal-list .dropdown-toggle::after {
  font-size: 24px;
}

.principal-list .dropdown-menu.show {
  min-width: 290px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 100%;
}

.principal-list .dropdown-menu.show a {
  font-size: 1rem;
  padding: 1rem;
}

.principal-list .dropdown-item i {
  margin-top: 8px;
  font-size: 1rem;
}

.principal-list .dropdown-item h2 {
  margin: 1rem;
}

.principal-list .dropdown-menu.show h2 {
  margin-left: 16px;
  margin-top: 1rem;
}

.principal-list a.bg-primary {
  background-color: rgba(0,85,255,0.1)!important;
}

.principal-list .dropdown-item.d-flex.justify-content-center.align-items-center.align-self-center {
  background-color: #0055FF;
  color: white;
  max-width: 315px;
  max-height: 48px;
  border-radius: 6px;
  margin: 8px auto;
}

.Navbar_Search--list .Navbar--Large--title {
  font-size: 1px;
  margin: 0;
  padding: 0;
}

.list--dropdown {
  margin-top: -16px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  left: 5px;
}

/* Checbox */

.custom-control-label::before {
  top: -2px;
  left: -1.5rem;
  display: block;
  width: 1.65rem;
  height: 1.65rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: -2px;
  left: -1.6rem;
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.list-hiper:hover {
  color: inherit;
  font-weight: initial;
  text-decoration: none;
}

.list-hiper {
  color: inherit;
  font-weight: initial;
}

/* Detalle de Producto */

.bg-product {
  background-color: #f2f2f2;
}

.product--full__markup {
  position: relative;
  height: 240px;
  padding-top: 30px;
  overflow: hidden;
}

.product--full__gradient {
  position: absolute;
  top: 0;
  height: 110px;
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 10.94%, rgba(255, 255, 255, 0) 100%);
}

.product--full__img {
  object-fit: cover;
}

.card.product--full__card {
  background-color: #F2F2F4;
  border-radius: 0;
}

.card.product--full__card .card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.product--full__card .card-body {
  padding-bottom: 0;
}

.product--full__card .card-body .custom-select {
  background-color: transparent !important;
  border: 0;
}

.product--full__card .card-body .custom-select:first-child {
  border-right: 1px solid #dadada;
  border-radius: 0;
}

.product--full__card hr {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.bar-navbar-producto {
  position: fixed;
  z-index: 1;
  background-color: rgba(255,255,255,0.95);
  padding-bottom: 0;
}

.erase-list i {
  background-color: transparent;
  padding: 1rem;
  border-radius: 0;
}

.erase-list {
  background-color: transparent;
  padding: 1rem;
  border-radius: 0;
}

.onboarding-container.location-margin {
  margin-bottom: 0;
}

.Total--Card.btn-continuar {
  bottom: 0;
}

.btn-continuar-footer {
  margin: 1rem;
}

/* Mejor precio */

.list__name.list__name--price {
  font-size: 1.25rem;
}

.icon--next {
  padding: 1rem;
  color: #979797;
}

.mp--list-group {
  background: white;
}

.mp--destacado {
  background: #FBD56F;
  margin: 0;
  padding: 0 !important;
  height: 72px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 11000000;
  position: fixed;
  width: 100%;
}

.mp--destacado .mp--link-card {
  display: flex;
  background: white;
  padding: 4px 9px;
  margin: 6px;
  z-index: 1;
  bottom: 11px;
  position: relative;
  border-radius: 6px;
  border: 2px solid #F2C94C;
}

.mp--destacado .custom-checkbox {
  border-bottom: 0;
  width: 100%;
  padding: 0;
}

.bottom-sheet {
  max-height: 100% !important;
}

.bottom-sheet .modal.content {
  width: 60%;
  margin: 0px auto;
}

/* Profile */

.list--profile li a {
  min-height: 56px;
}

.icon-des-scan.button-scan, .icon-des-scan.button-scan i {
  font-weight: 400;
  color: #0055ff;
  text-decoration: none;
}

.search--section {
  margin-top: 8px;
}

.card-title-v1 {
  font-size: 1rem;
}

.card-text-v1 {
  color: #219653;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
}

.list--ahorra a {
  color: initial;
  font-weight: 400;
  text-decoration: none;
}

.list--ahorra a:hover {
  color: initial;
  text-decoration: none;
}

a:hover {
  color: #0055FF;
  text-decoration: underline;
}

a.alert-info {
  margin-top: 1rem;
  background-color: rgba(0,85,255,0.1);
}

a.alert-info, a.alert-info i {
  color: #0055FF;
}

a.alert-info i {
  font-size: 1.2rem;
}

.list--ahorra {
  margin-bottom: 1rem;
  padding: 0rem 0 1.5rem;
}

/* card promos */

.card.card--ofertas {
  max-width: 185px;
  border-radius: 6px;
  color: #707070;
}

.card.card--ofertas hr {
  margin-top: 0;
  margin-bottom: 0px;
}

:root {
  --blue: #0055FF;
}

.see-more i {
  color: #0055FF;
}

.card--ofertas .card-body {
  padding: 8px;
}

.card--ofertas .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 6px;
  color: black;
}

.list-group.super--cercanos .control-user .custom-control-label::after, .list-group.super--cercanos .control-user .custom-control-label::before {
  top: 24px;
}

.list-group.super--cercanos .control-user .custom-control-label {
  padding-left: 16px;
  width: 100%;
}

.list-group.super--cercanos .control-user {
  padding: 0px 0px 0px 24px;
  border: none;
}

.super--cercanos-container {
  bottom-top: 1px solid;
}

.sector-marca p {
  margin: 0;
}

.sector-marca i {
  color: #0055ff;
}

.fix-header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: white;
  border-color: #dfdfdf !important;
  border-bottom: 1px solid #dfdfdf;
}

.fix-main {
  margin-top: 48px;
}

.badge-success {
  color: #027330;
  background-color: #CCF6DE;
}

.inter-media-oferta {
  position: relative;
}

.item-media.inter-media-oferta .badge-success {
  position: absolute;
  bottom: 0;
  left: 13%;
}

.eye-edit {
  padding: 0px 12px;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.toast {
  border-radius: 6px;
  -webkit-animation-name: desaparecer;
  -webkit-animation-duration: 5s;
  animation-name: desaparecer;
  animation-duration: 5s;
  -webkit-animation-name: desaparecer;
  -webkit-animation-duration: 5s;
  animation-name: desaparecer;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

.toast-header, .toast-header i, .toast-header .close {
  background-color: #2e8540 !important;
  color: white;
  padding: 8px 12px;
}

.color-delete:hover {
  color: red;
}

.des-info.color-icon {
}

i.color-icon {
  color: #0055ff;
}

.buttom-quitar {
  margin-bottom: 90px;
}

.list__name.big-letter {
  font-size: 1.4rem;
}

.big-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: none;
}

.card-title.new-promo {
  font-size: 1.5rem;
}

.sobre-descuentio h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.sobre-descuentio h3 {
  font-size: 1rem;
  color: #707070;
  margin-bottom: 1rem;
}

.sobre-descuentio h3 + p, .sobre-descuentio h3 + p + p {
  margin-left: 1rem;
}

.sobre-descuentio .row {
  margin-bottom: 1rem;
}

.bg-idea-d {
  background-image: url("../../assets/img/conformidad.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.sobre-descuentio-cabecera {
  margin-top: 30px;
}

