.swipeable {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swipeable .inner {
  position: relative;
  padding-left: 16px;
  margin-left: -16px;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #ffffff;
  cursor: -webkit-grab;
  cursor: grab;
}

.swipeable .inner:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.swipeable .action-button {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  cursor: pointer;
  text-align: right;
  color: white;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

.swipeable .action-button.delete {
  background: #b32020;
  border-bottom: 1px solid #dadada;
}

.swipeable .action-button.delete:hover {
  background: #c32d2d;
}

.swipeable .tab-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -1px;
  margin-right: 1px;
  width: 2px;
  height: 2px;
}

.swipeable .tab-icon:before, .swipeable .tab-icon:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

.swipeable .tab-icon:before {
  top: -4px;
}

.swipeable .tab-icon:after {
  top: 4px;
}

.swipeable.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.swipeable.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

